.badge-custom {
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-card {
  position: relative;
}
.premium-price {
  color: green;
  font-size: 0.9rem;
}
.sidebar h5 {
  margin-top: 20px;
}

/* .badge-custom {
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-card {
  position: relative;
}
.premium-price {
  color: green;
  font-size: 0.9rem;
}
.sidebar h5 {
  margin-top: 20px;
} */
