<div class="todo-container">
  <h1>Angular To-Do List</h1>
  <form (ngSubmit)="addTask()" class="todo-form">
    <input [(ngModel)]="task" name="task" placeholder="Enter a task" class="todo-input" required />
    <button type="submit" class="add-btn">
      {{ editingIndex !== null ? 'Update' : 'Add' }} Task
    </button>
  </form>
  <ul class="todo-list">
    <li *ngFor="let t of tasks; index as i" class="todo-item">
      <span>{{ t }}</span>
      <div>
        <button (click)="editTask(i)" class="edit-btn">Edit</button>
        <button (click)="deleteTask(i)" class="delete-btn">Delete</button>
      </div>
    </li>
  </ul>
</div>